body{
    text-align: center;
    height: 100%;
    background-color : blanchedalmond ;
}
html{
    overflow-y: hidden;
    height: 100%;
}
div{
    padding: 5px;
}
.btn-success{
   background-color: green; 
}
.btn-danger{
   background-color: red; 
}
.oui{
    overflow-y: scroll;
    height: 80%;
    padding: 50px;
}
hr{
    margin-left: 300px;
    margin-right: 250px;
}
.enBas{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.p {
    width : 80%;
    margin : 2%;
    height: 23%;
    float: left;
    display: block;
    border-radius: 10px;
    }



.t {
    border-width:1px;
    border-style:groove;
    border-color:black;
    padding : 2%;
    margin-left: 2%;
    width : 47%;
    height : 55%;
    margin-top : 0%;
    margin-bottom : 1%;
    float: left;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: aliceblue;
}

.h {
    width : 10%;
    height: 23%;
    float: left;
    margin: 2%;
    border-radius: 10px;
    }

img{
    max-width: 50%;
    max-height: 50%;
}
h1{
    text-align: left;
}