* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: monospace;
}

.flex-container {
    background-color: #F4F7F8;
    display: flex;
    margin: 1em;
}

.item {
    margin: 1em;
    padding: 2em;
    width: 110px;
    height: 85%;
    min-width: 0;
    background-color: #1B5385;
    color: white;
    font-family: monospace;
}

.one {
    flex: 1;
}

.two {
    flex: 2;
}

.container {
    overflow-y: scroll;
    height: 95%;
    width: 100%;
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.img {
    background-color: #67f989;
    height: 22%;
    width: 95%;
    margin: auto auto 20px auto;
}

p {
    text-align: center;
    font-size: 20px;
}

.profile {
    background-color: #67f989;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px auto auto auto;
}

.information {
    background-color: #67f989;
    height: 70%;
    width: 95%;
    margin: 30px auto auto auto;
}

.description {
    background-color: #63baf9;
    position: absolute;
    height: 51%;
    width: 35%;
    margin: auto 20px;
    padding: 2em;
    bottom: 13%;
}

.map {
    background-color: #63baf9;
    position: absolute;
    height: 51%;
    width: 315px;
    margin: auto -70px;
    bottom: 13%;
    right: 170px;
}

.desc {
    background-color: #67f989;
    height: 100px;
    width: 100%;
    text-align: left;
    padding: 1px;
}
.suc{
    float: right;
    margin : auto;
}
hr{
    margin : 5%;
}